<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My marketplace</title>
</head>
<body>

<h1>My Marketplace</h1>
<hr>

<h1><a href="https://login.salesforce.com/services/oauth2/authorize?response_type=code&client_id=3MVG9G9pzCUSkzZtjYVaRpHLTcvjkathl2nrl06zSaA5h6iTagnQJ0ktvCO5gpluAXPC84xas_K.zEHW_oynd&redirect_uri=https://newsite1.herokuapp.com/callback">Login to Salesforce</a></h1>

<h1><a href="/callback?code=aPrx6zE9iy0.MkI1z9GVDMxXneXCCDuFJPncA50nYuSb00k3nSJ29RXJhqNJzAyzIwZgkpMnSQ%3D%3D">Internal handle</a></h1>

<!--<% for ( var i = 0; i < posts.length; i++ ) { %>
    <div class="post">
        <h1><a href="/post/<%= ( i + 1 )%>"><%= posts[i].title %></a></h1>
        <p><%= posts[i].content %></p>
    </div>
<% } %> -->
</body>
</html>