<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title style="color: #1e7e34">Medical app</title>
</head>
<body>
    <div class="post">
        <h1 style="color: #1e7e34"><%= post %></h1>
        Test
        <img src="https://st4.depositphotos.com/7781012/19873/v/1600/depositphotos_198735990-stock-illustration-medical-phone-mobile-app-healthcare.jpg" width="100%">
    </div>
</body>
</html>
