<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= post %></title>
</head>
<body>
    <div class="post">
        <h1><%= post %></h1>
        <img src="hhttps://st3.depositphotos.com/1021180/17452/i/1600/depositphotos_174529406-stock-photo-digital-dreamlike-access-allowed-illustration.jpg">
    </div>
</body>
</html>