<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= post %></title>
</head>
<body>
    <div class="post">
        <img src="https://trulyheal.com/wp-content/uploads/screens-1.png" width="100%">
    </div>
</body>
</html>